[Match]
Name=br0

[Link]
RequiredForOnline=no

[Network]
DHCP=yes
IPv6AcceptRA=yes
Domains=localdomain

[DHCPv4]
RouteMetric=20

[IPv6AcceptRA]
RouteMetric=20
